<!--templates/index.html-->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vless VPN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>Vless VPN</h1>

    <div class="section_apple">
        <!-- iOS Section -->
        <a href="https://apps.apple.com/ru/app/v2raytun/id6476628951?platform=iphone"
           style="text-decoration: none; color: inherit;">
            <div class="section">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/apple_logo2.png"
                     alt="Icon">
                <div class="text">
                    <h2>Шаг 1. Установите приложение</h2>
                    <p>Нажмите для установки v2raytun</p>
                </div>
            </div>
        </a>
        <a href="https://vless-outline.ru/auto/?url=v2RayTun://import/{static_key}"
           style="text-decoration: none; color: inherit;">
            <div class="section">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/download_logo1.png"
                     alt="Icon">
                <div class="text">
                    <h2>Шаг 2. Добавьте подписку</h2>
                    <p>Нажмите для добавления в v2raytun</p>
                </div>
            </div>
        </a>


        <a href="https://vless-outline.ru/auto/?url=v2RayTun://import/{static_key}"
           style="text-decoration: none; color: inherit;">
            <div class="section_manual">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/manual_logo1.png"
                     alt="Icon">
                <div class="text">
                    <h2>Инструкция для Apple</h2>
                </div>
            </div>
        </a>
    </div>

    <div class="section_android">
        <a href="https://vless-outline.ru/auto/?url=v2RayTun://import/{static_key}"
           style="text-decoration: none; color: inherit;">
            <!-- Android Section -->
            <div class="section">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/android_logo2.png"
                     alt="Icon">
                <div class="text">
                    <h2>Шаг 1. Установите приложение</h2>
                    <p>Нажмите для установки v2raytun</p>
                </div>
            </div>
        </a>
        <a href="https://vless-outline.ru/auto/?url=v2RayTun://import/{static_key}"
           style="text-decoration: none; color: inherit;">
            <div class="section">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/download_logo1.png"
                     alt="Icon">
                <div class="text">
                    <h2>Шаг 2. Добавьте подписку</h2>
                    <p>Нажмите для добавления в v2raytun</p>
                </div>
            </div>
        </a>
        <a href="https://vless-outline.ru/auto/?url=v2RayTun://import/{static_key}"
           style="text-decoration: none; color: inherit;">
            <div class="section_manual">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/manual_logo1.png"
                     alt="Icon">
                <div class="text">
                    <h2>Инструкция для Android</h2>
                </div>
            </div>
        </a>
    </div>

    <div class="section_windows">
        <!-- Windows Section - Hiddify -->
        <a href="https://vless-outline.ru/auto/?url=v2RayTun://import/{static_key}"
           style="text-decoration: none; color: inherit;">
            <div class="section">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/windows_logo1.png"
                     alt="Icon">
                <div class="text">
                    <h2>Шаг 1. Установите приложение</h2>
                    <p>Нажмите для установки Hiddify</p>
                </div>
            </div>
        </a>
        <a href="https://vless-outline.ru/auto/?url=v2RayTun://import/{static_key}"
           style="text-decoration: none; color: inherit;">
            <div class="section">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/download_logo1.png"
                     alt="Icon">
                <div class="text">
                    <h2>Шаг 2. Добавьте подписку</h2>
                    <p>Нажмите для добавления в Hiddify</p>
                </div>
            </div>
        </a>
        <a href="https://vless-outline.ru/auto/?url=v2RayTun://import/{static_key}"
           style="text-decoration: none; color: inherit;">
            <div class="section_manual">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/manual_logo1.png"
                     alt="Icon">
                <div class="text">
                    <h2>Инструкция для Windows Hiddify</h2>
                </div>
            </div>
        </a>
    </div>

    <div class="section_linux">
        <!-- Linux Section - V2Box -->
        <a href="https://vless-outline.ru/auto/?url=v2RayTun://import/{static_key}"
           style="text-decoration: none; color: inherit;">
            <div class="section">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/linux_logo1.png"
                     alt="Icon">
                <div class="text">
                    <h2>Шаг 1. Установите приложение</h2>
                    <p>Нажмите для установки V2Box</p>
                </div>
            </div>
        </a>
        <a href="https://vless-outline.ru/auto/?url=v2RayTun://import/{static_key}"
           style="text-decoration: none; color: inherit;">
            <div class="section">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/download_logo1.png"
                     alt="Icon">
                <div class="text">
                    <h2>Шаг 2. Добавьте подписку</h2>
                    <p>Нажмите для добавления в V2Box</p>
                </div>
            </div>
        </a>
        <a href="https://vless-outline.ru/auto/?url=v2RayTun://import/{static_key}"
           style="text-decoration: none; color: inherit;">
            <div class="section_manual">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/manual_logo1.png"
                     alt="Icon">
                <div class="text">
                    <h2>Инструкция для Windows V2Box</h2>
                </div>
            </div>
        </a>
    </div>
    <button class="close-button">Закрыть</button>
</div>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
