<!--templates/index.html-->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vless VPN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <!-- Логотип вместо заголовка -->
    <img class="logo" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/logo1_mini.png" alt="Vless VPN">


    <div class="section_apple">
        <!-- iOS Section -->
        <a href="https://apps.apple.com/ru/app/streisand/id6476628951?platform=iphone"
           style="text-decoration: none; color: inherit;">
            <div class="section">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/apple_logo2.png"
                     alt="Icon">
                <div class="text">
                    <h2>Шаг 1. Установите приложение</h2>
                    <p>Нажмите для установки <b>Streisand</b></p>
                </div>
            </div>
        </a>
        <a id="appleVPNLink" href="#" onclick="openExternalLink(event)" style="text-decoration: none; color: inherit;">
            <div class="section">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/download_logo1.png"
                     alt="Icon">
                <div class="text">
                    <h2>Шаг 2. Добавьте подписку</h2>
                    <p>Нажмите для добавления в <b>Streisand</b></p>
                </div>
            </div>
        </a>


        <a href="https://vless.tilda.ws/manual_iphone_streisand"
           style="text-decoration: none; color: inherit;">
            <div class="section_manual">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/manual_logo1.png"
                     alt="Icon">
                <div class="text">
                    <h2>Инструкция для Apple</h2>
                </div>
            </div>
        </a>
    </div>

    <div class="section_android">
        <a href="https://play.google.com/store/apps/details?id=com.v2raytun.android&hl=ru"
           style="text-decoration: none; color: inherit;">
            <!-- Android Section -->
            <div class="section">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/android_logo2.png"
                     alt="Icon">
                <div class="text">
                    <h2>Шаг 1. Установите приложение</h2>
                    <p>Нажмите для установки <b>v2raytun</b></p>
                </div>
            </div>
        </a>
        <a id="androidVPNLink" href="#" onclick="openExternalLink(event)"
           style="text-decoration: none; color: inherit;">
            <div class="section">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/download_logo1.png"
                     alt="Icon">
                <div class="text">
                    <h2>Шаг 2. Добавьте подписку</h2>
                    <p>Нажмите для добавления в <b>v2raytun</b></p>
                </div>
            </div>
        </a>
        <a href="https://vless.tilda.ws/v2raytun-android"
           style="text-decoration: none; color: inherit;">
            <div class="section_manual">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/manual_logo1.png"
                     alt="Icon">
                <div class="text">
                    <h2>Инструкция для Android</h2>
                </div>
            </div>
        </a>
    </div>

    <div class="section_windows">
        <!-- Windows Section - Hiddify -->
        <a href="https://github.com/hiddify/hiddify-next/releases/latest/download/Hiddify-Windows-Setup-x64.exe"
           style="text-decoration: none; color: inherit;">
            <div class="section">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/windows_logo1.png"
                     alt="Icon">
                <div class="text">
                    <h2>Шаг 1. Установите приложение для Windows</h2>
                    <p>Нажмите для установки <b>Hiddify</b></p>
                </div>
            </div>
        </a>
        <!--        <a id="windowsVPNLink" href="#" onclick="openExternalLink(event)" style="text-decoration: none; color: inherit;">-->
        <!--            <div class="section">-->
        <!--                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/download_logo1.png"-->
        <!--                     alt="Icon">-->
        <!--                <div class="text">-->
        <!--                    <h2>Шаг 2. Добавьте подписку</h2>-->
        <!--                    <p>Нажмите для добавления в Hiddify</p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </a>-->
        <a href="https://vless.tilda.ws/instruction_windows"
           style="text-decoration: none; color: inherit;">
            <div class="section_manual">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/manual_logo1.png"
                     alt="Icon">
                <div class="text">
                    <h2>Инструкция для Windows Hiddify</h2>
                </div>
            </div>
        </a>
    </div>

    <div class="section_linux">
        <!-- Linux Section - Hiddify -->
        <a href="https://github.com/hiddify/hiddify-next/releases/download/v2.1.5/Hiddify-Debian-x64.deb"
           style="text-decoration: none; color: inherit;">
            <div class="section">
                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/linux_logo1.png"
                     alt="Icon">
                <div class="text">
                    <h2>Установите приложение для Linux</h2>
                    <p>Нажмите для установки <b>Hiddify</b></p>
                </div>
            </div>
        </a>

        <!--        <a id="linuxVPNLink" href="#" onclick="openExternalLink(event)" style="text-decoration: none; color: inherit;">-->
        <!--            <div class="section">-->
        <!--                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/download_logo1.png"-->
        <!--                     alt="Icon">-->
        <!--                <div class="text">-->
        <!--                    <h2>Шаг 2. Добавьте подписку</h2>-->
        <!--                    <p>Нажмите для добавления в V2Box</p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </a>-->
        <!--        <a href="https://vless-outline.ru/auto/?url=v2RayTun://import/{static_key}"-->
        <!--           style="text-decoration: none; color: inherit;">-->
        <!--            <div class="section_manual">-->
        <!--                <img class="icon" src="https://s3.ru1.storage.beget.cloud/03da8e48d5ca-myfirsts3/manual_logo1.png"-->
        <!--                     alt="Icon">-->
        <!--                <div class="text">-->
        <!--                    <h2>Инструкция для Windows V2Box</h2>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </a>-->
    </div>

    <div class="section_static_key">
        <div class="key-description">
            <p>Ключ для ручной настройки:</p>
        </div>

        <div class="key-box">
            <span id="staticKey">Загрузка ключа...</span>
        </div>
        <button class="copy-button" onclick="copyStaticKey()">Скопировать ключ</button>
    </div>

    <button class="close-button" onclick="closeWindow()">Закрыть</button>
</div>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
